.todo-list-container {
    display: flex;
    background-color: #D4F1F4;
    margin: 0 auto;
    padding: 20px;
      
    }
    
    .todo-list {
      margin-top: 20px;
    }
    
    h1 {
      color: #333;
    }
    